@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

.clear-map-button {
    -webkit-box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 2px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.15);
    color: #000;
    font-size: 14px;
    font-weight: bold;
    /* left: 10px; */
    left: 86px;
    padding: 5px 10px;
    position: absolute;
    top: 40px;
    z-index: 1;
}

.clear-map-button:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.hidden-map {
    -ms-transform: translateX(-50%);
    -webkit-box-shadow: 0 0 30px #000;
    -webkit-box-sizing: initial;
    -webkit-transform: translateX(-50%);
    -webkit-transition: all 500ms ease;
    background-color: #333333;
    box-shadow: 0 0 30px #000;
    box-sizing: initial;
    font-family: "Montserrat", sans-serif;
    height: 0;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    /* top: 100%; */
    top: 0;
    transform: translateX(-50%);
    transition: all 500ms ease;
    width: 100%;
    /* z-index: -1; */
    z-index: 2;
}

.hidden-map-close-button,
.hidden-map-location-button {
    -webkit-transition: color 250ms ease;
    color: #fff;
    position: relative;
    transition: color 250ms ease;
}

.hidden-map-close-button:hover,
.hidden-map-location-button:hover {
    color: #e6331f;
    cursor: pointer;
}

.hidden-map-close-button:hover.hidden-map-close-button::before,
.hidden-map-location-button:hover.hidden-map-location-button::after {
    bottom: 0;
}

.hidden-map-close-button-container {
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 5px;
    width: 150px;
}

.hidden-map-close-button::before {
    -webkit-transition: bottom 150ms ease;
    bottom: -20px;
    color: #fff;
    content: "Map";
    font-size: 14px;
    padding-right: 5px;
    position: absolute;
    right: 100%;
    text-shadow: none;
    transition: bottom 150ms ease;
}

.hidden-map-header {
    -webkit-transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    left: 50%;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
}

.hidden-map-location-button-container {
    font-weight: bold;
    overflow: hidden;
    position: absolute;
    left: 10px;
    text-align: left;
    top: 5px;
    width: 150px;
}

.hidden-map-location-count {
    padding: 0 5px;
}

.hidden-map-location-button::after {
    -webkit-transition: bottom 150ms ease;
    bottom: -20px;
    color: #fff;
    content: "Locations";
    font-size: 14px;
    left: 100%;
    position: absolute;
    text-shadow: none;
    transition: bottom 150ms ease;
}

.location-results {
    font-size: 10px;
}

#map {
    height: 100%;
    position: relative;
    width: 100%;
}

.map-bubble-address {
    display: block;
}

.map-bubble-deals {
    text-align: center;
    width: 100%;
}

.map-bubble-deals button {
    background: none;
    border: none;
    color: #e6331f;
    cursor: pointer;
    font-size: 14px;
}

.map-bubble-details {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 5px;
}

.map-bubble-details i {
    color: #000;
}

.map-bubble-email {
    color: #0000ff;
    display: block;
    font-style: italic;
    margin: 5px 0;
}

.map-bubble-email.inactive {
    color: #000;
}

.map-bubble-heading {
    color: #e6331f;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

.map-bubble-phone {
    display: block;
    font-style: italic;
    margin-bottom: 5px;
}

.map-distance-go-button {
    background-color: #fff;
    border: none;
    border-left: solid 1px #808080;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: none;
    font-size: 16px;
    height: 100%;
    padding: 0 7px;
    position: absolute;
    right: 0;
    top: 0;
}

.map-distance-go-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

.map-message {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -ms-transform: translate(-50%, -50%);
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: justify;
    -webkit-box-shadow: 0 0 15px #000;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transition: top 800ms ease, opacity 500ms ease;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px #000;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    left: 50%;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: -100%;
    /* top: 200px; */
    transform: translate(-50%, -50%);
    transition: top 800ms ease, opacity 500ms ease;
    width: 375px;
    z-index: 2;
}

.map-message p {
    font-size: 16px;
    /* font-weight: bold; */
    margin: 0 0 5px 0;
    padding: 0 5px;
    text-align: center;
    width: 100%;
}

.map-message-button-container {
    position: relative;
    width: 100%;
}

.map-message-close {
    -webkit-transition: color 150ms ease;
    font-size: 24px;
    position: absolute;
    right: 10px;
    transition: color 150ms ease;
}

.map-message-close:hover {
    color: #e6331f;
    cursor: pointer;
}

.map-message-container {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding: 15px 5px;
    width: 100%;
}

.map-message-header {
    border-bottom: solid 1px #000;
    color: #e6331f;
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
    width: 150px;
}

.map-search-distance-arrow {
    position: absolute;
    right: 10px;
    top: 3px;
    transition: -webkit-transform 150ms ease;
    transition: transform 150ms ease, -webkit-transform 150ms ease;
    transition: transform 150ms ease;
}

.map-search-distance-arrow-rotate {
    -webkit-transform: rotate(180deg);
    top: 6px;
    transform: rotate(180deg);
}

.map-search-distance-button {
    -ms-flex-align: center;
    -ms-flex-direction: row;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    /* -webkit-transition: all 250ms ease; */
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: #000;
    font-size: 14px;
    outline: none;
    padding: 5px 10px;
    text-align: left;
    /* transition: all 250ms ease; */
    width: 100%;
}

.map-search-distance-button:hover,
.map-search-distance-selection:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.map-search-distance-container {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    left: 150px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    width: 120px;
    z-index: 1;
    /* outline: solid 1px blue; */
}

.map-search-distance-container-toggle {
    overflow: visible;
}

.map-search-distance-container div {
    position: relative;
}

.map-search-distance-selection {
    background-color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 3px 10px;
}

.map-search-distance-selection:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.map-search-distance-dropdown {
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

.map-search-distance-dropdown-toggle {
    -webkit-box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    opacity: 1;
    top: calc(100% - 1px);
}

.map-use-disclaimer {
    /* border-bottom: solid 1px #fff; */
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 550px;
    /* outline: solid 1px blue; */
}

.map-use-disclaimer i {
    background-color: #fff;
    border-radius: 4px;
    color: #000;
    padding: 2px 5px;
}

.map-use-disclaimer span {
    color: #fff;
    font-weight: bold;
}

@media (max-width: 700px) {
    .hidden-map {
        border-left: none;
        border-right: none;
        /* top: 0; */
    }

    .hidden-map-close-button::before,
    .hidden-map-location-button::after,
    .hidden-map-header {
        display: none;
    }

    .map-bubble-details {
        font-size: 12px;
    }

    .map-bubble-heading {
        font-size: 14px;
    }

    .map-message p {
        font-size: 14px;
    }

    .map-use-disclaimer {
        font-size: 16px;
        width: 400px;
    }
}

@media (max-width: 400px) {
    .clear-map-button {
        left: 100px;
    }

    .map-message {
        border-radius: 0;
        padding: 10px;
        width: 100%;
    }

    .map-search-distance-container {
        left: 165px;
    }

    .map-use-disclaimer {
        margin: 0 10px 10px 5px;
        width: 95%;
    }
}
