ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrapper {
    -ms-flex-direction: row;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    border-bottom: solid 1px #000;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
    padding: 0 0 15px 10px;
    /* outline: solid 1px blue; */
}

.c-list__item {
    margin: 0 20px 10px 0;
}

.d-col {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
}
.al-center {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
}
.jst-center {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.jst-btw {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.jst-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.mgb-0 {
    margin-bottom: 0 !important;
}
.mgt-0 {
    margin-top: 0 !important;
}
.mgr-0 {
    margin-right: 0 !important;
}
.mgl-0 {
    margin-left: 0 !important;
}
.mgl-auto {
    margin-left: auto;
}
.mgr-auto {
    margin-right: auto;
}

.owl-carousel.owl-drag .owl-item {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: center;
}
.favourite2 {
    color: #fff !important;
}

.c-list__link {
    color: #fff;
    font-weight: 500;
    position: relative;
}

.c-list__item div {
    background-color: #e6331f;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    left: 0;
    min-width: 20px;
    padding: 0 5px;
    position: absolute;
    text-align: center;
    top: 100%;
}

.c-list__link h4:hover {
    color: #e6331f;
    cursor: pointer;
}
.c-list__link.active h4 {
    color: #e6331f;
}
.favBox {
    display: none;
}
.favBox.active {
    display: block;
}
.favBox h1 {
    color: #fff;
}
.white {
    color: #fff;
}
.auth-select {
    background-color: #808080;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 38px;
    margin-bottom: 28px;
    margin-top: 5px;
    padding: 0 10px;
    width: 100%;
}
.auth-select option {
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    height: 38px;
    margin-bottom: 28px;
    padding: 10px 10px;
    width: 100%;
}
.verify_by {
    margin-bottom: 5px;
}
.verify_btn {
    -webkit-transition: color 150ms ease;
    background-color: #e6331f;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    margin: auto;
    padding: 8px 0;
    text-align: center;
    text-transform: capitalize;
    transition: color 150ms ease;
    width: 100%;
}
.main .footer {
    width: 100%;
}
.d-none {
    display: none;
}

@media (max-width: 1000px) {
    .c-list__item {
        margin: 0 0 15px 0;
    }

    .c-list__item div {
        -webkit-transform: translateY(-50%);
        font-size: 16px;
        left: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
    }
    .wrapper {
        -ms-flex-direction: column;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 0;
    }
}
